.grid-1 {
    background-color: #fff;
    padding: 1.8em;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.grid-graph {
    float: left;
    width: 36%;
    padding-right: 7%;
    padding-top: 10%;
}
.grid-2 {
    float: left;
}

.grid-graph1 {
    font-size: 12px;
    border: 1px solid #E6E6E6;
    padding: 10px;
}
#os-Win-lbl {
    border-left: #1ABC9C solid 1em;
    padding-left: .5em;
    font-size: 1em;
    color: #777F8C;
}
#os-Mac-lbl {
    border-left: #3BB2D0 solid 1em;
    padding-left: .5em;
    font-size: 1em;
    color: #777F8C;
}

#os-Other-lbl {
    border-left: #D95459 solid 1em;
    padding-left: .5em;
    font-size: 1em;
    color: #777F8C;
}
.grid-graph div {
    margin: 3px 0;
}